<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul> 
  <li>Signed in as <%= current_user.email %></li> 
  <% if current_user.budget %>
    <li>Budget name: <%= current_user.budget.name %></li> 
    <li>Budget ID: <%= current_user.budget.id %></li> 
  <% else %>
    <li>No budget attached to user</li>
  <% end %>
  <li><%= link_to "Budget", budget_path %></li> 
  <li><%= link_to "Details", budget_details_path %></li> 
  <li><%= link_to "Session History", session_history_path %></li> 
  <li><%= link_to "New User", new_user_path %></li> 
  <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
</ul> 

<%= yield %>

</body>
</html>
